{% extends "base.html" %}

{% block title %}
    <title>Ticketmaestro</title>
{% endblock title %}

{% block styles %}
  {{ super() }}
<style type="text/css">
  /* fill in */
  .available {
    background-color: green;
    color: white;
    font-weight: bold;
  }
  .unavailable {
    background-color: red;
    color: white;
    font-weight: bold;
  }
</style>
{% endblock styles %}


{% block content %}
<div class="row">
  <p class="lead">{{event.name}}</p>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="lead">Choose...</p>
    <form role="form" method="POST" id='booking_form' role='form'>
        <dl>
            {{ form.hidden_tag() }}
            {{ render_field(form.option) }}
            {{ render_field(form.no_of_seats) }}
            {{ render_field(form.seats) }}
        </dl>
            <p><input type=submit value=Book></p>
    </form>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <p class="lead">Seating Arrangement</p>
    <table class="table table-bordered">
      {% for row in event.rows %}
      <tr>
        <td>
          <b>Row #{{ row.row_number }}</b>
        </td>
        {% for seat in row.seats %}
          <td>
            <div class={{'available' if seat.is_available() else 'unavailable'}}>
              {{ seat.seat_number }}
            </div>
          </td>
        {% endfor %}
      {% endfor %}
      </tr>
    </table>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
    //do jQuery stuff when DOM is ready
  $( "#option" ).change(function() {
      option = this.value;
      if (option === 'manual') {
        $("#no_of_seats").prop('disabled', true);
        $("#seats").prop('disabled', false);
      }
      // autobest , autobest_with_split
      else {
        $("#no_of_seats").prop('disabled', false);
        $("#seats").prop('disabled', true);
      }
  });
  // trigger it on load
  $( "#option" ).trigger( "change" );
});

</script>
{% endblock scripts %}