{% extends "base.html" %}

{% block title %}
    <title>Ticketmaestro</title>
{% endblock title %}


{% block content %}
<p class="lead">Choose</p>
{% for event in events %}
  <a href="{{ url_for('booking.event', event_id=event.event_id)}}">{{ event.name }}</a>
  <br>
{% endfor %}
{% endblock content %}